# Google Cloud Storage
GOOGLE_CLOUD_STORAGE_BUCKET=""
GOOGLE_APPLICATION_CREDENTIALS=""
NEXT_PUBLIC_GOOGLE_CLOUD_STORAGE_BUCKET=""

# Authentication (NextAuth.js)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Fal.ai
FAL_KEY=""

MINIMAX_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJLYW1hc2kgTWFob25lIChUaGVSZWFsVU5LdXQpIiwiVXNlck5hbWUiOiJLYW1hc2kgTWFob25lIChUaGVSZWFsVU5LdXQpIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE4NzM1NTc1MTg0MDAwOTg0NDciLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxODczNTU3NTE4MzkxNzA5ODM5IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoia2FtYXNpbWFob25lQGdtYWlsLmNvbSIsIkNyZWF0ZVRpbWUiOiIyMDI1LTEwLTEyIDAwOjI5OjAwIiwiVG9rZW5UeXBlIjoxLCJpc3MiOiJtaW5pbWF4In0.Ya0LoBPUF93AdiMht5XngdwpmxpogebLvHDyNWp7NfovosqMYoOPy3Ob4ePQjnNkDZ1NnGfPI5RXZXXTBpbd5bvcpSd91b1ZQDBFUB4_qBaFp_w84ieTPLA1zeIB6FymK-OdI3AunGF-wxQgTj3vPnsj12QzID89Q_agyvPDO3Zj3xjf5njyz69nGYRjwEKx9a4J00FJW8sVAh-RZqJQyKu-uLPp1esqZ9ZrMvWGTNODIjsL7cifzgRKBKC0M_1H6xe1turOEdHmsu-rhwgu90wb0Ei5CsgzSQrTyhsjmzAXJYLICklGV4gxu9pR2bA15Rg29MC4FcSZAfv4H_a06Q
# PlayHT
PLAYHT_USER_ID=""
PLAYHT_SECRET_KEY=""

# https://uploadthing.com required if you want to use file upload
UPLOADTHING_TOKEN=""

# https://upstash.com required if you want to the share button
KV_URL=""
KV_REST_API_READ_ONLY_TOKEN=""
KV_REST_API_TOKEN=""
KV_REST_API_URL=""
